<center><h1> Weekly Recaps </h1></center>

<center>
<%= link_to "Your Team", users_path, {class: "pure-button pure-button-primary"} %> 


</center>

<!-- List of the weeks -->

<% @weeks.each do |w| %>
<ul>
    <li>  <%=  link_to(w.name, week_path(w), {class: "pure-button"} ) %>  (<%= w.date %>)       
    </li>

</ul>

<% end %>

<!-- List of the weeks -->

<%= link_to "Add New Week", new_week_path, {class: "pure-button pure-button-primary"} %>
