


<!-- List of the weeks -->
<hr>
<center>
<div>
<% @weeks.each do |w| %>
<ul>
    <li>  <%=  link_to(w.name, week_path(w), {class: "button-xlarge pure-button"} ) %>  
    <br>
    (<%= w.date %>)       
    </li>

</ul>

<% end %>

<!-- List of the weeks -->

<%= link_to "Add New Week", new_week_path, {class: "button-success pure-button"} %>

</center>

<hr>