<h1> <center> YOUR TEAM </center></h1>



<% @users.each do |u| %>
<%= link_to(u.name, user_path(u), {class: "button-large pure-button"}) %> <br><br>
<% end %> 


<%= link_to "Back to Weeks", weeks_path, {class: "pure-button pure-button-primary"} %>