<center>

<h1> Your Week at GA </h1>

<%= link_to "Home", weeks_path, {class: "button-secondary pure-button"} %>
<%= link_to "Events", events_path, {class: "button-secondary pure-button"} %> 
<%= link_to "Resources", resources_path, {class: "button-secondary pure-button"} %> 
<%= link_to "Your Team", users_path, {class: "button-secondary pure-button"} %> 

</center>

<br>
<hr>
