// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: red;
}

#this-week {
    color: red;
    width: 1000px;
    border: 3px solid blue;
    margin-left: 150px;
    padding: 10px;
    font-family: times new roman;
    margin-bottom: 20px;
}

#next-week {
    color: red;
    width: 1000px;
    border: 3px solid blue;
    margin-left: 150px;
    padding: 10px;
    font-family: times new roman;
    margin-bottom: 20px;

}

#office-hours {
    color: red;
    width: 1000px;
    border: 3px solid blue;
    margin-left: 150px;
    padding: 10px;
    font-family: times new roman;
    margin-bottom: 20px;

}

#events {
    color: red;
    width: 1000px;
    border: 3px solid blue;
    margin-left: 150px;
    padding: 10px;
    font-family: times new roman;
    margin-bottom: 20px;

}

#resources {
    color: red;
    width: 1000px;
    border: 3px solid blue;
    margin-left: 150px;
    padding: 10px;
    font-family: times new roman;
    margin-bottom: 20px;
    
}